<!DOCTYPE html>
<html>
  <head>
    <title>"I'm server-rendered!"</title>
  </head>
  <body>
    <div class="js-content">
      {{{content}}}
    </div>
    <script src="{{{bundle}}}"></script>
  </body>
</html>
